@using Orchard.Utility.Extensions;
@{
    // cast in order to have improved accessors
    dynamic contentItem = Model.ContentItem;

    var contentTypeClassName = ((string)contentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);
    Model.Classes.Add("col-md-4");
    Model.Classes.Add("col-sm-6");
    Model.Classes.Add("portfolio-item");

    var tag = Tag(Model, "div");

    string linkId = "#portfolioModal" + contentItem.Id.ToString();
}

@tag.StartElement
    <a href="@linkId" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        @Display(Model.Image)
    </a>
    <div class="portfolio-caption">
        <h4>@Display(Model.Caption)</h4>
    </div>
@tag.EndElement