@using Orchard.Utility.Extensions;
@{
    // cast in order to have improved accessors
    dynamic contentItem = Model.ContentItem;

    var contentTypeClassName = ((string)contentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);
    Model.Classes.Add("modal-body");
    Model.Classes.Add("content-item");

    var tag = Tag(Model, "article");
}

<!-- Portfolio Modal # -->
<div class="portfolio-modal modal fade post" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    @tag.StartElement
                        @Display(Model.Header)
                        @Display(Model.Subtitle)
                        @Display(Model.ProductImage)
                        @Display(Model.Content)
                        <ul class="list-inline">
                            <li>@Display(Model.Sepcifications)</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @T("Go Back")</button>
                    @tag.EndElement
                </div>
            </div>
        </div>
    </div>
</div>