@using Orchard.Utility.Extensions;
@{
    // cast in order to have improved accessors
    dynamic contentItem = Model.ContentItem;

    var contentTypeClassName = ((string)contentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);
    Model.Classes.Add("container");
    Model.Classes.Add("content-item");

    var tag = Tag(Model, "article");
}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
        </div>
    </div>
</header>
<section id="FritDetail1">
    @tag.StartElement
    <div class="row">
        <div class="col-md-4">
            @Display(Model.Header)
            @Display(Model.Subtitle)
            <h3>@T("Product Description")</h3>
            @Display(Model.Content)
            <h3>@T("Technical Specification")</h3>
            <ul>
                @Display(Model.Sepcifications)
            </ul>
        </div>
        <div class="col-md-8">
            @Display(Model.ProductImage)
        </div>
    </div>
    @tag.EndElement
</section>